---
import MainAstroLayout from "./../layouts/main.layout.astro"
import ProjectTypeItemAstroComponent from "./../components/project-type-item.component.astro"
import CardAstroComponent from "./../components/card.component.astro"
import SkillsCellAstroComponent from "./../components/skills-cell.component.astro"
import AdditionalContentCellAstroComponent from "./../components/additional-content-cell.component.astro"

import logo from "./../styles/images/logo-512x512.png"

import * as main from "./../content/index/main.md"

const { categories, skills, additionalContent } = main.frontmatter

const projectPosts = await Astro.glob("./projects/*.md")
const projects = projectPosts.filter((post) => !post.frontmatter.draft && post.frontmatter.featured)

projects.sort((a: any, b: any) => {
	const A = a.frontmatter.date
	const B = b.frontmatter.date

	let comparison = 0
	if (A > B) {
	comparison = -1
	} else if (A < B) {
	comparison = 1
	} else {
	comparison = 0
	}

	return comparison
})
---
<MainAstroLayout>
	<section
		id="home"
		class="section section-gray-800 section-gray-800-to-gray-900"
	>
		<div class="section-inner container section-inner-landing-hero">
			<div class="section-inner-landing-hero__content-cell">
				<h1 class="ff-secondary fsize-900 fw-medium clr-yellow-500">
				dav/devs
				</h1>
				<h2 class="fsize-500 fw-medium clr-yellow-300">web developer</h2>
				<p class="fs-italic">just keep learning...</p>
			</div>
			<div class="section-inner-hero__icon-cell">
				<div class="section-inner-hero__icon-cell__icon-container">
				<img
					src={logo}
					alt=""
					class="section-inner-hero__icon-cell__icon-container__icon"
				/>
				</div>
			</div>
		</div>
	</section>

	<section
		id="project-types"
		class="section section-gray-900 section-gray-900-to-primary-200 section-reverse"
	>
		<div class="section-inner container">
			<h2
				class="ff-secondary fsize-700 fw-medium clr-yellow-500 ta-center m-b-600"
			>
				Types of Projects I Do
			</h2>

			<div class="project-types-grid m-b-400">
				{categories.filter((item: any) => !item.draft).map((item: any) => <ProjectTypeItemAstroComponent item={item} />)}
			</div>
		</div>
	</section>

	<section
		id="featured-projects"
		class="section section-primary-200 section-primary-200-to-gray-900"
	>
		<div class="section-inner">
			<div class="container">
				<h2
				class="ff-secondary fsize-700 fw-medium clr-lime-800 ta-center m-b-600"
				>
				Featured Projects
				</h2>

				<div class="bg-lime-700 p-y-400">
					<div class="card-carousel">
						{projects.map((item: any) => <CardAstroComponent item={item} featured={true} />)}
					</div>
	
					<p class="ta-center fsize-300 m-t-400">
						<em>Scroll left and right to see more.</em>
					</p>
				</div>

				<p class="ta-center p-y-400">
					<a href="/portfolio/1" class="btn btn-accent">
						View All <i class="fa-solid fa-chevron-right"></i>
					</a>
				</p>
			</div>
		</div>
	</section>

	<section
		id="my-skills"
		class="section section-gray-900 section-gray-900-to-gray-800 section-reverse"
	>
		<div class="section-inner container">
			<h2
				class="ff-secondary fsize-700 fw-medium clr-yellow-500 ta-center m-b-400"
			>
				The Skills I Have
			</h2>

			<div class="skills-grid m-b-600">
				{skills.map((item: any) => <SkillsCellAstroComponent item={item}/>)}
			</div>

			<p class="ta-center p-v-b-400">
				<a href="/about#all-skills" class="btn btn-accent">
					View All <i class="fa-solid fa-chevron-right"></i>
				</a>
			</p>
		</div>
	</section>

	<section
		id="contact-us"
		class="section section-gray-800 section-gray-800-to-gray-900"
	>
		<div class="section-inner container">
		<h2
			class="ff-secondary fsize-700 fw-medium clr-yellow-500 ta-center m-b-400"
		>
			Any Enquires?
		</h2>

			<form action="" method="post" class="form-grid">
				<div class="form-group form-cell-half">
				<label for="name" class="visually-hidden">Name</label>
				<div class="input-group">
					<div class="input-addon">
					<i class="fa-duotone fa-user"></i>
					</div>
					<input
					type="text"
					name="name"
					id="name"
					class="form-input"
					placeholder="Name"
					/>
				</div>
				</div>
				<div class="form-group form-cell-half">
				<label for="email" class="visually-hidden">Email</label>
				<div class="input-group">
					<div class="input-addon">
					<i class="fa-duotone fa-envelope"></i>
					</div>
					<input
					type="email"
					name="email"
					id="email"
					class="form-input"
					placeholder="Email"
					/>
				</div>
				</div>
				<div class="form-group form-cell-half">
				<label for="phone" class="visually-hidden">Phone</label>
				<div class="input-group">
					<div class="input-addon">
					<i class="fa-duotone fa-phone"></i>
					</div>
					<input
					type="tel"
					name="phone"
					id="phone"
					class="form-input"
					placeholder="Phone"
					/>
				</div>
				</div>
				<div class="form-group form-cell-half">
				<label for="email" class="visually-hidden">Subject</label>
				<div class="input-group">
					<div class="input-addon">
					<i class="fa-duotone fa-pen"></i>
					</div>
					<select name="subject" id="subject" class="form-input">
					<option value="">Subject</option>
					<option value="job">Hire Me?</option>
					<option value="hangout">Have a coffee?</option>
					</select>
				</div>
				</div>
				<div class="form-group form-cell-full">
				<label for="message" class="visually-hidden">Message</label>
				<div class="input-group">
					<div class="input-addon">
					<i class="fa-duotone fa-message"></i>
					</div>
					<textarea
					name="message"
					id="message"
					class="form-input"
					placeholder="Message"
					rows="4"
					></textarea>
				</div>
				</div>
				<div class="form-submit form-cell-full">
				<button type="submit" class="btn btn-accent">
					Send Message <i class="fa-duotone fa-paper-plane"></i>
				</button>
				</div>
			</form>
		</div>
	</section>

	<section
		id="additional-links"
		class="section section-gray-900 section-gray-900-to-gray-900"
	>
		<div class="section-inner container">
			<h2
				class="ff-secondary fsize-700 fw-medium clr-yellow-500 ta-center m-b-400"
			>
				Additional Content
			</h2>

			<div class="additional-content-grid">
				{additionalContent.map((item: any) => <AdditionalContentCellAstroComponent item={item}/>)}
			</div>

			
		</div>
	</section>
</MainAstroLayout>