---
import dayjs from "dayjs"

import MainAstroLayout from "./../layouts/main.layout.astro"
import TechnologyStackItemComponent from "./../components/technology-stack-item.component.astro"
import CardAstroComponent from "./../components/card.component.astro"
import LinkAstroComponent from "./../components/link.component.astro"
import { sortPostsDesc } from "./../utilities/helpers"

import * as main from "./../content/index/main.md"

const { categories } = main.frontmatter

const { frontmatter } = Astro.props
const { title, subtitle, date, description, keywords, category, image, link, repo, technologies } = frontmatter

const projectPosts = await Astro.glob("./projects/*/*.md")
const projects = sortPostsDesc(projectPosts.filter((post) => !post.frontmatter.draft && post.frontmatter.featured), "date")
const formattedDate = dayjs(date).format(import.meta.env.DATE_FORMAT)
const selectedCategory = categories.filter((cat: any) => cat.slug.toLowerCase() === category.toLowerCase())[0]
---

<MainAstroLayout title={title} description={description} keywords={keywords}>
	<section
          id="home"
          class="section section-primary-200 section-primary-200-to-gray-800 clr-gray-800 section-reverse clr-gray-900"
        >
        <div class="section-inner container section-inner-hero">
            <div class="section-inner-hero__content-cell">
                <h1 class="ff-secondary fsize-700 fw-medium">Project</h1>
            </div>
            <div class="section-inner-hero__icon-cell">
                <div class="section-inner-hero__icon-cell__icon-container">
                <i
                    class="fa-duotone fa-laptop-code section-inner-hero__icon-cell__icon-container__icon clr-yellow-500"
                ></i>
                </div>
            </div>
        </div>
    </section>

    <section
        id="project-info"
        class="section section-gray-800 section-gray-800-to-gray-900"
    >
        <div class="section-inner container">
            <div class="project-item-grid">
                <div class="project-item-cell project-item-cell-title">
                    <h2 class="ff-secondary fsize-700 fw-medium clr-yellow-500">{title}</h2>
                    <p class="ff-secondary fsize-500">{subtitle}</p>
                    {selectedCategory && <div>
                        <div
                        class={`project-item-category | fsize-300 ${selectedCategory.color} m-b-400`}
                        >
                        <i class={`fa-brands ${selectedCategory.icon}`}></i> {selectedCategory.title}
                        </div>
                    </div>}

                    <p class="m-b-400">{description}</p>

                    <div class="m-b-400">
                        <div class="btn-group">
                            {link && <LinkAstroComponent href={link} className="btn-accent" target="_blank">
                                View Demo <i class="fa-solid fa-chevron-right"></i>
                            </LinkAstroComponent>}
                            {repo && <LinkAstroComponent href={repo} className="btn-accent" target="_blank">
                                View Repo <i class="fa-solid fa-chevron-right"></i>
                            </LinkAstroComponent>}
                        </div>
                    </div>

                    <p class="clr-gray-400"><small class="em">Posted on {formattedDate}</small></p>
                </div>
                <!-- ./project-item-cell -->

                <div class="project-item-cell project-item-cell-image">
                { image && <img
                    src={`/screenshots/${image}`}
                    alt="Project Screenshot"
                    class="project-item-image"
                    data-element="project-item-image"
                /> }
                    <p class="clr-gray-400 ta-center"><small class="em">Click on image to enlarge</small></p>
                </div>
            </div>
        </div>
    </section>

    <section
        class="project-details section section-gray-900 section-reverse section-gray-900-to-primary-200"
    >
        <div class="section-inner container">
            <div class="project-item-grid">
                <div
                class="project-item-cell project-item-cell-tech-stack ta-center"
                >
                    <h3
                        class="ff-secondary fsize-700 fw-medium clr-yellow-500 m-b-400"
                    >
                        Tech Stack
                    </h3>

                    {technologies.map((item: any) => <TechnologyStackItemComponent item={item}/>)}
                </div>
                <div class="project-item-cell project-item-cell-content">
                    <h3
                        class="ff-secondary fsize-700 fw-medium clr-yellow-500 m-b-400 ta-center"
                    >
                        About
                    </h3>

                    <slot />
                </div>
            </div>
        </div>
    </section>

    <section
		id="featured-projects"
		class="section section-primary-200 section-primary-200-to-primary-200"
	>
		<div class="section-inner">
			<div class="container">
				<h2
				class="ff-secondary fsize-700 fw-medium clr-lime-800 ta-center m-b-600"
				>
				Featured Projects
				</h2>

				<div class="bg-lime-700 p-y-400">
					<div class="card-carousel">
						{projects.map((item: any) => <CardAstroComponent item={item} featured={true} />)}
					</div>
	
					<p class="ta-center fsize-300 m-t-400">
						<em>Scroll left and right to see more.</em>
					</p>
				</div>

				<p class="ta-center p-y-400">
					<a href="/portfolio/1" class="btn btn-accent">
						Back <i class="fa-solid fa-chevron-right"></i>
					</a>
				</p>
			</div>
		</div>
	</section>
</MainAstroLayout>