---
import MainAstroLayout from "./../layouts/main.layout.astro"
import ResumeItemAstroComponent from "./../components/resume-item.component.astro"
import LinkAstroComponent from "./../components/link.component.astro"
import { sort, sortPostsDesc } from "./../utilities/helpers"

import profilePic from "./../styles/images/profile-pic.png"

import * as main from "./../content/resume/main.md"

const skillPosts = await Astro.glob('./../content/resume/skills/*.md')
const skills = sort(skillPosts.filter(post => !post.frontmatter.draft), "sortOrder")

const experiencePosts = await Astro.glob('./../content/resume/experience/*.md')
const experiences = sortPostsDesc(experiencePosts.filter(post => !post.frontmatter.draft), "start")

const educationPosts = await Astro.glob('./../content/resume/education/*.md')
const education = sortPostsDesc(educationPosts.filter(post => !post.frontmatter.draft), "start")

const certificatesPosts = await Astro.glob('./../content/resume/certificates/*.md')
const certificates = sortPostsDesc(certificatesPosts.filter(post => !post.frontmatter.draft), "start")
---

<MainAstroLayout className="resume | clr-gray-900 bg-white">
  <section
    id="name"
    class="section section-primary-200 section-primary-200-to-white"
  >
    <div class="section-inner container section-inner-hero">
      <div class="section-inner-hero__content-cell">
        <img
          src={profilePic}
          alt=""
          class="section-inner-hero__content-cell__image"
        />
      </div>
      <div class="section-inner-hero__content-cell">
        <h1 class="ff-secondary fsize-800 fw-medium">{main.frontmatter.name}</h1>
        <p class="fw-medium">{main.frontmatter.subtitle}</p>
      </div>
      <div class="section-inner-hero__content-cell">
        <ul class="fsize-300" role="list">
          <li>
            <LinkAstroComponent href={"mailto:" + main.frontmatter.email} linkClass="link">
              <i class="fa-duotone fa-envelope"></i> {main.frontmatter.email}
            </LinkAstroComponent>
          </li>
          <li>
            <LinkAstroComponent href={"tel:" + main.frontmatter.phone} linkClass="link">
              <i class="fa-duotone fa-phone"></i> {main.frontmatter.phone}
            </LinkAstroComponent>
          </li>
          <li class="m-b-200">
            <span class="link"
              ><i class="fa-duotone fa-location-dot"></i> {main.frontmatter.address}</span
            >
          </li>

          <li>
            <LinkAstroComponent
              href={main.frontmatter.linkedinLink}
              linkClass="link"
              target="_blank"
              >
              <i class="fa-brands fa-linkedin"></i> {main.frontmatter.linkedinLabel}
            </LinkAstroComponent>
          </li>
          <li>
            <LinkAstroComponent
              href={main.frontmatter.githubLink}
              linkClass="link"
              target="_blank"
              >
              <i class="fa-brands fa-github"></i> {main.frontmatter.githubLabel}
            </LinkAstroComponent>
          </li>
          <li>
            <LinkAstroComponent
              href={main.frontmatter.devLink}
              linkClass="link"
              target="_blank"
              >
              <i class="fa-brands fa-dev"></i> {main.frontmatter.devLabel}
            </LinkAstroComponent>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="section section-white section-no-decoration">
    <div class="container section-inner | ta-center">
      <p class="restrict-width">{main.frontmatter.introduction}</p>
    </div>
  </section>

  <div class="divider bg-gray-400"></div>

  <section id="skills" class="section section-white section-no-decoration">
    <div class="container section-inner |">
      <h2 class="ff-secondary clr-lime-800 fsize-600 fw-medium m-b-200">
        Skills
      </h2>
      
      {skills.map(({frontmatter, Content}: any) => (
        <>
          <p class="m-b-50"><strong>{frontmatter.title}</strong></p>
          <div class="fsize-300 m-b-400">
            <Content />
          </div>
        </>
      ))}
    </div>
  </section>

  <div class="divider bg-gray-400"></div>

  <section id="experience" class="section section-white section-no-decoration">
    <div class="container section-inner">
      <h2
        class="ff-secondary clr-lime-800 fsize-600 fw-medium m-b-200"
      >
        Experience
      </h2>

      <ul class="resume-item-list">
        {experiences.map((item: any) => (<ResumeItemAstroComponent item={item}/>))}
      </ul>
    </div>
  </section>

  <div class="divider bg-gray-400"></div>

  <section id="education" class="section section-white section-no-decoration">
    <div class="container section-inner">
      <h2
        class="ff-secondary clr-lime-800 fsize-600 fw-medium m-b-200"
      >
        Education
      </h2>

      <ul class="resume-item-list">
        {education.map((item: any) => (<ResumeItemAstroComponent item={item}/>))}
      </ul>
    </div>
  </section>

  <div class="divider bg-gray-400"></div>

  <section
    id="certificates"
    class="section section-white section-no-decoration"
  >
    <div class="container section-inner">
      <h2
        class="ff-secondary clr-lime-800 fsize-600 fw-medium m-b-200"
      >
        Certificates
      </h2>

      <ul class="resume-item-list">
        {certificates.map((item: any) => (<ResumeItemAstroComponent item={item}/>))}
      </ul>
    </div>
  </section>

  <div class="divider bg-gray-400"></div>

  <section
    id="hobbies"
    class="section section-white section-no-decoration m-b-600 display-none"
  >
    <div class="container section-inner">
      <h2 class="ff-secondary clr-lime-800 fsize-600 fw-medium m-b-200">
        Hobbies
      </h2>

      <p>
        {main.frontmatter.hobbies.map((hobby: any) => (<>{hobby}<br/></>))}
      </p>
    </div>
  </section>
</MainAstroLayout>
