---
import LinkAstroComponent from "./../components/link.component.astro"
import * as main from "./../content/index/main.md"

const { featured, item } = Astro.props
const { title, subtitle, category, image } = item.frontmatter

const featuredClass = featured ? `card-featured` : ``
const selectedCategory = main.frontmatter.categories.filter((cat: any) => cat.slug.toLowerCase() === category.toLowerCase())[0]
---

<LinkAstroComponent href={item.url} linkClass="card" className={featuredClass}>
    <img
        src={`/screenshots/${image}`}
        alt="Project Screenshot"
        class="card-image"
    />
    <div class="card-corner card-corner-top-right">
        <i class={`fa-brands ${selectedCategory.icon} fa-2x ${selectedCategory.color}`}></i>
    </div>
    <div class="card-body">
        <p class="ff-secondary fsize-600 fw-medium">{title}</p>
        <p>{subtitle}</p>
    </div>
</LinkAstroComponent>