---
import dayjs from "dayjs"

import LinkAstroComponent from "./../components/link.component.astro"

import * as main from "./../content/index/main.md"

const { linkedinLink, githubLink, devLink, jsfiddleLink } = main.frontmatter

const {
    meta_title = "",
    meta_author = ""
} = Astro.props

const releasedAt = import.meta.env.APP_RELEASED_AT
const releasedAtYear = Number(dayjs(releasedAt).format("YYYY"))
const nowYear = Number(dayjs().format("YYYY"))

let year = `${releasedAtYear}`
if (nowYear > releasedAtYear) {
    year = `${releasedAtYear} - ${nowYear}`
}
---
<footer class="main-footer">
    <div class="container">
      <div class="main-footer-content">
        <div class="main-footer-cell">
          <h2 class="ff-secondary fw-regular">D/D</h2>

          <nav class="main-footer-nav">
            <ul
              class="nav-list"
              role="list"
              data-element="main-footer-contact-nav"
            >
              <li class="nav-list-item">
                <LinkAstroComponent
                  href="mailto:leong.shi.yun@gmail.com"
                  className="btn-footer"
                  >
                  <i class="fa-duotone fa-envelope"></i>
                  leong.shi.yun@gmail.com
                </LinkAstroComponent>
              </li>
              <li class="nav-list-item">
                <div class="btn btn-footer">
                  <i class="fa-duotone fa-house"></i> West, Singapore
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <!-- ./main-footer-cell -->

        <div class="main-footer-cell">
          <h2 class="ff-secondary fw-regular">Sitemap</h2>

          <nav class="main-footer-nav">
            <ul class="nav-list" role="list">
              <li class="nav-list-item">
                <LinkAstroComponent href="/" className="btn-footer">
                  Home
                </LinkAstroComponent>
              </li>
              <li class="nav-list-item">
                <LinkAstroComponent href="/about" className="btn-footer">
                  About
                </LinkAstroComponent>
              </li>
              <li class="nav-list-item">
                <LinkAstroComponent href="/portfolio" className="btn-footer">
                  Portfolio
                </LinkAstroComponent>
              </li>
              <li class="nav-list-item">
                <LinkAstroComponent href="/resume" className="btn-footer">
                  Resume
                </LinkAstroComponent>
              </li>
              <li class="nav-list-item">
                <LinkAstroComponent href="#" className="btn-footer" dataElement="btn-footer-joke">
                  Try Me!
                </LinkAstroComponent>
              </li>
            </ul>
          </nav>
        </div>
        <!-- ./main-footer-cell -->

        <div class="main-footer-cell">
          <h2 class="ff-secondary fw-regular">Social</h2>

          <nav class="main-footer-nav">
            <ul class="nav-list" role="list">
              <li class="nav-list-item">
                <LinkAstroComponent href={linkedinLink} target="_blank" className="btn-footer">
                  <i class="fa-brands fa-linkedin"></i> LinkedIn
                </LinkAstroComponent>
              </li>
              <li class="nav-list-item">
                <LinkAstroComponent href={githubLink} target="_blank" className="btn-footer">
                  <i class="fa-brands fa-github"></i> GitHub
                </LinkAstroComponent>
              </li>
              <li class="nav-list-item">
                <LinkAstroComponent href={devLink} target="_blank" className="btn-footer">
                  <i class="fa-brands fa-dev"></i> DEV
                </LinkAstroComponent>
              </li>
              <li class="nav-list-item">
                <LinkAstroComponent href={jsfiddleLink} target="_blank" className="btn-footer">
                  <i class="fa-brands fa-jsfiddle"></i> JsFiddle
                </LinkAstroComponent>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="main-footer-divider"></div>

      <p class="main-footer-copyright fsize-300 fs-italic ta-center">
        {meta_title} &copy; {meta_author}, {year}
      </p>
    </div>
</footer>