---
const {
    href = "#",
    linkClass = "btn",
    className = "",
    target = "_self",
    active = false,
    dataElement = "",
} = Astro.props
---
<a
    href={href}
    class={`${linkClass} ${className}`}
    target={target}
    data-element={dataElement}
    data-active={active}
    >
    <slot />
</a>