---
const { page } = Astro.props
const { currentPage, lastPage } = page

const firstPage = 1

let prevPage = currentPage - 1
if (prevPage <= firstPage) {
    prevPage = firstPage
}

let nextPage = currentPage + 1
if (nextPage >= lastPage) {
    nextPage = lastPage
}

let pages = []
for (let i = firstPage; i <= lastPage; ++i) {
    pages.push({
        page: String(i),
        active: i == currentPage ? `active` : ``
    })
}

if (lastPage >= 9) {
    pages = [
        {
            page: `${firstPage}`,
            active: firstPage == currentPage ? `active` : ``
        }
    ]

    if (prevPage !== firstPage && prevPage !== lastPage && prevPage !== currentPage) {
        if (prevPage > firstPage + 1) {
            pages.push({
                page: `...`,
                active: ``
            })
        }

        if (prevPage < currentPage) {
            pages.push({
                page: `${prevPage}`,
                active: prevPage == currentPage ? `active` : ``
            })
        }
    }

    if (currentPage !== firstPage && currentPage !== lastPage) {
        pages.push({
            page: String(currentPage),
            active: `active`
        })
    }

    if (nextPage !== firstPage && nextPage !== lastPage && nextPage !== currentPage) {
        if (nextPage > currentPage) {
            pages.push({
                page: `${nextPage}`,
                active: nextPage == currentPage ? `active` : ``
            })
        }

        if (nextPage < lastPage - 1) {
            pages.push({
                page: `...`,
                active: ``
            })
        }
    }

    pages.push({
        page: `${lastPage}`,
        active: lastPage == currentPage ? `active` : ``
    })
}
---
<ul class="pagination" role="list">
    <li class="pagination-item">
        <a href={`/portfolio/${firstPage}`} class="pagination-link">
            <i class="fa-solid fa-chevrons-left"></i>
        </a>
    </li>
    <li class="pagination-item">
        <a href={`/portfolio/${prevPage}`} class="pagination-link">
            <i class="fa-solid fa-chevron-left"></i>
        </a>
    </li>
    {pages.map(({page, active}: any) => (
        <li class="pagination-item">
            {page === "..." && <span class={`pagination-link`}>{page}</span>}
            {page !== "..." && <a href={`portfolio/${page}`} class={`pagination-link ${active}`}>{page}</a>}
        </li>
    ))}
    <li class="pagination-item">
        <a href={`/portfolio/${nextPage}`} class="pagination-link">
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </li>
    <li class="pagination-item">
        <a href={`/portfolio/${lastPage}`} class="pagination-link">
            <i class="fa-solid fa-chevrons-right"></i>
        </a>
    </li>
</ul>