---
import dayjs from "dayjs"

const { item } = Astro.props
const { frontmatter, Content } = item
const { title, start, end, subtitle, position, prefix } = frontmatter

let theTitle = title
if (prefix) {
  theTitle = prefix + title
}

let theStart = start
let theEnd = end

if (theStart !== "Present") {
  theStart = dayjs(theStart).format("MMM YYYY")
}

if (theEnd && theEnd !== "Present") {
  theEnd = dayjs(theEnd).format("MMM YYYY")
}

let period = theStart
if (theEnd) {
  period = `${theStart} - ${theEnd}`
}
---
<li class="resume-item | fsize-300 p-200">
    <div class="resume-item__period">{period}</div>
    <div class="resume-item__heading">
      <h2 class="ff-secondary fsize-400 fw-bold">{theTitle}</h2>
      <p>
        <strong><em>{subtitle}</em></strong>
      </p>
      {position && <p><em>{position}</em></p>}
    </div>
    <div class="resume-item__description">
      <Content />
    </div>
</li>