---
import MainAstroLayout from "./main.layout.astro"
import CardAstroComponent from "./../components/card.component.astro"
import PaginationAstroComponent from "./../components/pagination.component.astro"

import * as main from "./../content/index/main.md"
const { categories } = main.frontmatter
const publishedCategories = categories.filter(
  (category: any) => !category.draft
)

const { page } = Astro.props
---

<MainAstroLayout>
  <section
    id="home"
    class="section section-primary-200 section-primary-200-to-gray-900 section-reverse clr-gray-900"
  >
    <div class="section-inner container section-inner-hero">
      <div class="section-inner-hero__content-cell">
        <h1 class="ff-secondary fsize-700 fw-medium">
          Portfolio ({page.currentPage}/{page.lastPage})
        </h1>
      </div>
      <div class="section-inner-hero__icon-cell">
        <div class="section-inner-hero__icon-cell__icon-container">
          <i
            class="fa-duotone fa-laptop-code section-inner-hero__icon-cell__icon-container__icon clr-yellow-500"
          ></i>
        </div>
      </div>
    </div>
  </section>

  <section
    id="project-types"
    class="section section-gray-900 section-gray-900-to-gray-900 section-reverse"
  >
    <div class="section-inner container">
      <h2 class="ff-secondary fw-regular clr-yellow-500 m-v-b-200">Categories</h2>

      <div class="btn-group btn-group-project-categories m-b-400">
        {
          publishedCategories.map(({ label, slug, color, icon }: any) => (
            <a
              href={`portfolio/categories/${slug}/1`}
              class={`btn btn-project-category ${color}`}
            >
              <i class={`fa-brands ${icon}`} /> {label}
            </a>
          ))
        }
      </div>
    </div>
  </section>

  <section
    id="projects"
    class="section section-gray-900 section-gray-900-to-gray-900"
  >
    <div class="section-inner container">
      <h2 class="ff-secondary fw-regular clr-yellow-500 m-v-b-200">Projects</h2>

      <div class="card-grid">
        {page.data.map((item: any) => <CardAstroComponent item={item} />)}
      </div>
      <!-- ./card-grid -->

      <PaginationAstroComponent page={page} />
    </div>
  </section>
</MainAstroLayout>
