---
import MainAstroLayout from "./main.layout.astro"
import CardAstroComponent from "./../components/card.component.astro"
import PaginationAstroComponent from "./../components/pagination.component.astro"

import * as main from "./../content/index/main.md"
const { categories } = main.frontmatter
const publishedCategories = categories.filter(
  (category: any) => !category.draft
)

const {
  page,
  category,
  portfolioRoute = "/1/",
  categoriesRoute = "categories/"
} = Astro.props

let paginationRoute: string = "/portfolio/"
let selectedCategory: any = null
if (category) {
  selectedCategory = categories.filter((cat: any) => cat.slug === category)[0]
  paginationRoute += `categories/${category}/`
}
---

<MainAstroLayout>
  <section
    id="home"
    class="section section-primary-200 section-primary-200-to-gray-900 section-reverse clr-gray-900"
  >
    <div class="section-inner container section-inner-hero">
      <div class="section-inner-hero__content-cell">
        <h1 class="ff-secondary fsize-700 fw-medium">
          Portfolio ({page.currentPage}/{page.lastPage})
        </h1>
        {selectedCategory === null && <p>
          <span class="badge bg-gray-900 clr-gray-50">
            <i class="fa-solid fa-infinity"></i> All
          </span>
        </p>}
        {selectedCategory !== null && <p>
          <span class={`badge bg-gray-900 ${selectedCategory.color}`}>
            <i class={`fa-brands ${selectedCategory.icon}`}></i> {selectedCategory.name} 
          </span>
        </p>}
      </div>
      <div class="section-inner-hero__icon-cell">
        <div class="section-inner-hero__icon-cell__icon-container">
          <i
            class="fa-duotone fa-laptop-code section-inner-hero__icon-cell__icon-container__icon clr-yellow-500"
          ></i>
        </div>
      </div>
    </div>
  </section>

  <section
    id="project-types"
    class="section section-gray-900 section-gray-900-to-gray-900 section-reverse"
  >
    <div class="section-inner container">
      <h2 class="ff-secondary fw-regular clr-yellow-500 m-v-b-200">Categories</h2>

      <div class="btn-group btn-group-project-categories m-b-400">
        <a
          href={portfolioRoute}
          class={`btn btn-project-category clr-gray-50`}
          data-active={selectedCategory === null}
        >
          <i class="fa-solid fa-infinity"></i> All
        </a>
        {
          publishedCategories.map(({ label, slug, color, icon }: any) => (
            <a
              href={`${categoriesRoute}${slug}/1`}
              class={`btn btn-project-category ${color}`}
              data-active={selectedCategory && selectedCategory.slug === slug}
            >
              <i class={`fa-brands ${icon}`}></i> {label}
            </a>
          ))
        }
      </div>
    </div>
  </section>

  <section
    id="projects"
    class="section section-gray-900 section-gray-900-to-gray-900"
  >
    <div class="section-inner container">
      <h2 class="ff-secondary fw-regular clr-yellow-500 m-v-b-200">Projects</h2>

      <div class="card-grid">
        {page.data.map((item: any) => <CardAstroComponent item={item} />)}
      </div>
      <!-- ./card-grid -->

      <PaginationAstroComponent page={page} paginationRoute={paginationRoute}/>
    </div>
  </section>
</MainAstroLayout>
